<div class= "container">
  <div class= "row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= render "users/info", user: @user%>
      <h2>New book</h2>
        <%= render "books/form", book: @book_new %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h2>Group detail</h2>
      <table class="table">
        <tr>
          <th></th>
          <th>name</th>
          <th>introduction</th>
          <th>member</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <%= image_tag @group.get_group_image, size: "50x50" %>
          </td>
          <td>
            <%= @group.name %>
          </td>
          <td>
            <%= @group.introduction %>
          </td>
          <td>
            <% @group.users.each do |user| %>
              <li style="list-style:none;"><%= user.name %></li>
            <% end %>
          </td>
            <% if @group.is_owned_by?(current_user) %>
              <td><%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %></td>
             <td><%= link_to "Notice an Event", new_group_event_notice_path(@group), class: "btn btn-info" %></td>
            <% else %>
              <% if @group.include_user?(current_user) %>
                <td><%= link_to "Leave this group", group_group_users_path(@group), method: :delete, class: "btn btn-danger", style: "white-space: nowrap;" %></td>
              <% else %>
                <td><%= link_to "Join this group", group_group_users_path(@group), method: :post, class: "btn btn-success", style: "white-space: nowrap;" %></td>
              <% end %>
            <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>