<div class= "container">
  <div class= "row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= render "users/info", user: @user%>
      <h2>New book</h2>
        <%= render "books/form", book: @book_new %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h2>Group detail</h2>
      <table class="table">
        <tr>
          <th></th>
          <th>name</th>
          <th>introduction</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <%= image_tag @group.get_group_image, size: "50x50" %>
          </td>
          <td>
            <%= @group.name %>
          </td>
          <td>
            <%= @group.introduction %>
          </td>
          <% if @group.is_owned_by?(current_user) %>
          <td>
            <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>